<img src="/img/network-banner.png" alt="" style="width: 500px; margin:5px; margin-left:5% ; float:left">
 <div style="padding-left:50%;padding-top:10%;">
    <h1 style="color: white; ">mclick</h1>


    <div class="section">
        <a href="/auth/google" class="btn red darken-1">
            <i class="fab fa-google left"></i> Google
        </a>
    </div>
 </div>
 