
p {
    margin: 10px 0 !important;
}

body{
    background-color: rgb(29, 29, 29);
}


.body-color1{
    background-color:rgb(49, 49, 49);
    color: #eeeeee;



}
.login-container{
    width: 400px;
    margin-top: 50px;
    text-align: center;
}

.fa-small{
    font-size: 16px !important;
}

.btn-float{
    float: left;
    margin-right: 10px;
}

.img-small{
    margin-top: 10%;
    width: 140px;
}

/* header icons */
.material-icons{
    margin-right: 0px !important;
}
.material-icons.med{
    font-size: 30px;
   
}
.material-icons.med:hover{
    color: red;
}

/* 3 dot menu */
.dropdown-content.t-dot{
    width: max-content !important;
}
.dropdown-content.show{
    left: 102% !important;
    background-color: transparent !important;
    box-shadow: none !important;
    
    color: white !important;
    height: 100px;
    
}
/* .dropdown-content a{
    
    padding: 4px !important;
    font-size: 14px;
    color: white !important;

   
}
.dropdown-content a:hover{
    padding: 4px !important;
    font-size: 14px;

   
} */
/* 
.dropdown-content li{
    padding: 0px !important;
    padding-bottom:0% !important;
    margin: 0px !important;
    background-color: rgb(73, 73, 73);
    color: white;
    
}
.dropdown-content li:hover{
   
    background-color: rgb(119, 119, 119);
    color: white;
}
.dropdown-content ul{
    padding: 0px !important;
    margin: 0px !important;
    
} */

#search{
    border-radius: 15px;
}

#search:focus{
    background-color: rgba(75, 77, 75, 0.767);
    color: rgb(236, 236, 236);
}


.list-style{
    width: 200px !important;
}

/* Navbar */
.nav-wrapper{
   
    background-color: rgb(51, 51, 51);
    
}

.htp{
    background-color: rgba(102, 102, 102, 0.808);
}

/* middle nav elements */
/*  */

.mid-loss{
    background-color:  rgb(51, 51, 51);
    border-radius: 15px;
    align-items: center;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;

    
}
.mid-loss:hover{
    align-items: center;
    text-align: center;
    background-color: rgb(61, 61, 61);
   border-radius: 15px;
}
.input-color{
    color: white !important;
}

/* post message box */
.input-field{
    color: white;
}
.view-more{
    color:#2595d6
}
.view-more:hover{
    color: #43b5d8;
}

/*  
sdf
*/



.l3{
    position: sticky;
    top: 8vh;
    height: 10vh;
    box-sizing: border-box;
    
}
/* left menu homepage */
.collapsible{
    border: 0px;
    border-radius: 7px;


}
.collapsible-header{
    background-color: rgb(51, 51, 51) !important;
    border-radius: 2px;
    border: 0px;
   
}
.collapsible-body{
    background-color: rgb(65, 65, 65) !important;
}
.top-m-1{
    margin-left: 15% !important;
    color: blanchedalmond;
    /* background-color: rgb(73, 73, 73) !important; */
    border-radius: 2px;
    box-shadow: 1px 1px 1px 1px rgba(121, 119, 119, 0.137);
    overflow: hidden;
    

}
.top-list{
    padding: 10px;
    padding-left: 10%;

}


/* right menu homepage */

.top-right-stories{
    background-color: rgb(51, 51, 51);
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10px;
    padding-bottom: 10%;
    height: 50vh;
    border-radius: 6px;
    overflow-y: auto;
}


.med-right-chat-active{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 2px;
    background-color: rgb(51, 51, 51);
    height: 40vh;
    border-radius: 6px;
    overflow-y: auto;
    scroll-behavior: auto;
   


}

.poster-main{
    position: absolute;
    overflow: hidden !important ;
    height: 240px !important;
    
}
.poster-main-img{
    height: 15vh;
    width: 50vh;
}

/* profile */
.poster-profile{
    height: 42vh;
    width: 117vh;
    text-align: center;
    border-radius: 5px;
}
.card-profile{
    
    margin-left: 3%;
    position: absolute;  
   
}
.profile-header{
    text-align: center;

}
.card-title.profile{
    position: relative;
    color: blanchedalmond;
    font-size: 30px !important;
    
    
}
.profile-name{
    position: relative;
    padding: 0px !important;
    margin: 0 !important;
    color: rgb(199, 194, 194);
    text-shadow: 1px 1px 1px rgb(92, 91, 91);
    
}


.content {
    position: relative;
    width: 200px;
    margin: auto;
    overflow: hidden;
    
  }
  
  .content .content-overlay {
    margin: 2%;
    margin-bottom: 4%;
    background: rgba(0,0,0,0.7);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }
  
  .content:hover .content-overlay{
    opacity: 1;
  }
  
  .content-image{
    
    width: 200px;   
    border: 5px solid rgb(14, 53, 63);
    box-shadow: 1px 2px 2px 2px rgba(15, 46, 51, 0.377);
  }
  
  .content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .content:hover .content-details{
    top: 50%;
    left: 50%;
    opacity: 1;
  }
  
  .content-details h3{
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
  }
  
  .content-details p{
    color: #fff;
    font-size: 0.8em;
  }
  
  .fadeIn-bottom{
    top: 80%;
  }

.prof-container{
    
    box-shadow: 1px 2px 2px rgba(15, 15, 15, 0.575);
    margin-left: 10% !important;
    
    
}

.tabs-content.carousel { height: 100%; } 
.tabs-content.carousel .carousel-item { width: 100%; height: 100%; } 

.tabs{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: rgb(51, 50, 50);
    color: rgb(216, 216, 216) !;
}

.tab:hover{
    background-color:rgb(59, 59, 59);

}
.tab{
    color: rgb(216, 216, 216) !important;
    background-color: rgb(37, 37, 37);

}
.tab-header{
    color: rgb(216, 216, 216) !important;

}


/* CARD  POST*/
.card{
    background-color:rgb(49, 49, 49);
    color: #eeeeee;
    border-radius: 7px;
}
.card-content{
    padding-top: 0px !important;
}
.card-date{
    color: rgb(187, 187, 187);
    font-size: 12px;
}
.chip{
    margin: 10px;
}
.chip.res{
    background-color:rgba(88, 88, 88, 0.952) !important;
    color: wheat !important;
    margin-bottom: 0 !important;
    
}
.pad-line{
    margin-right: 10% !important;
}
.pad-23{
    text-align: center !important;
}
.name-color{
    color: rgb(212, 212, 212);
    font-size: 13px !important;
}

/* notification */
.notification {
    padding: 10px;
    border-radius: 3px;
    width: max-content;
    background-color: rgb(41, 40, 40);
    color: rgb(228, 228, 228);
    box-shadow: 1px 1px 1px rgba(15, 15, 15, 0.781);
    position: absolute;
    top: 15vh;
    height: 5vh;
    float: right;
    box-sizing: border-box;
    animation-name: notify;
    animation-duration: 2s;
    visibility: hidden;
  }
  @keyframes notify {
    
    0% {right: 0px;}
    80% {right: 90px;visibility: visible;}
    100% {right: 0; opacity: 0.9;visibility: visible;}

  }

  /* write post styles */
  .post-container{
      width: 100%;
      padding-right: 3%;

  }
  .post-profile-img{
    width: 35px;margin:10px; border-radius:50%;
  }
  .btn.post{
      margin: 10px !important;
      font-style: normal !important;
      text-transform: none !important;
      border-radius: 50px;
      width: 100%;
      font-size: 18px;
      text-align: left;
   
      
  }
  .timestories{
      border-radius: 50% !important;
      padding: 1% !important;
  }
  .timestories-wall{
      background-color: #525252f1;
      border-bottom: 2px solid rgba(244, 245, 247, 0.685);
      padding-left: 3%;
      color: white;
  }
  .round{
      border-radius: 80% !important;
      padding: 3% !important;
  }

  .post-footer-bar{
      width: 100%;
      padding-left: 15% !important;
      padding-right: 0% !important;

  }
  .post-f-btn{
      width: 30%;
      
      margin-right: 27% !important;
      display: inline;
  }

.display-top-header{
    float: none;
    height: 40px;
    background-color: rgb(37, 37, 37);

}
.action-btn{
    background-color: green;
}
/* edit profile */
.validate{
    color: #fff !important;
}
.featured{
    display: flexbox;
    width: 70px !important;
    height: 60px !important;
}

/* modal post */

.mid-text{
    text-transform: none !important;
}
.modal{
    background-color:rgb(34, 34, 34);
    border-radius: 10px;
    width: 30%;

}

.modal-close{
    font-size: 30px !important;
    color: white;

}

.input-field-post{
    margin-top: 5px;
    font-size: 13px;
    margin-left: 5%;
}

.dark-theme{
    background-color: rgb(39, 39, 39) !important;
    color: rgb(250, 246, 246) !important;
    border: none;
    border-radius: 5px !important;
    height: 25vh !important;
    max-height: 25vh !important;
    font-size: 24px !important;
    padding: 10px;
    overflow: hidden;
    resize: none;
    box-shadow: none !important;

}


/* textarea{
    background-color: green !important;
} */
.browser-default{
    height: 25px !important;
    background-color: rgb(75, 74, 74);
    color: white;
    width: 100px !important;
    border-radius: 5px !important;
    border: 0px !important;
    outline: none;
}
#op-post *{
    background-color: red;
}

select:focus{
      outline: none;
  }



  /* card photos */
.size-image{
    display:inline-flex;
    height: 250px;
    width: 410px;
}

/* likes content */
.likes-content{
    display:inline-flexbox !important;
    padding-left: 0px !important;
    /* padding-right: 4px !important; */
    padding-top: 5px !important;
    padding-bottom: 9px !important;
    margin: 0px !important;
    overflow: hidden;
    white-space: nowrap;

    width: 100%;

}
.likes-content:hover{
    overflow: auto;
    scrollbar-width: none; 
    -ms-overflow-style: none;
    white-space: nowrap;
}
.likes-content:hover::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.likedlook{
    color:#eeeeee;
}
.likedlook:hover{
    color:#62dbdd;
}