<div class="row">
    <div class="container">
        <h3>What's your mind</h3>

        <form action="/stories" method="POST" class="col s5">
    

       

        <div class="row">
            <div class="input-field">
                <textarea id="body" name="body"></textarea>
            </div>
        </div>

         <div class="row">
            <div class="input-field">
                <select id="status" name="status">
                    <option value="public" data-icon="/img/public.png" selected>Public</option>
                    <option value="private" data-icon="/img/private.png">Private</option>
                </select>
                <label for="status">Status</label>
            </div>
        </div>

        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/dashboard" class="btn orange">Cancel</a>
        </div>
    </form>
    </div>
    
</div>
