<div class="row">
    <div class="col s12 m4 l3">
    </div>


    <div class="col s12 m4 l6">

        <div class="row">
            <div class="container">
                <div class="card-content"
                 style="background-color: rgb(49, 49, 49); 
                        border-radius:5px;
                        padding:15px;">
                <div class="row">
                    <div class="col s12 m4 l12">
                        <h5 class="mid-text"> Events</h5>
                        <h5 class="mid-text"> Birthday</h5>
                        {{#each allusers}}
                            
                                        {{{showBirthdays firstName lastName image dob ../user}}}

                        {{/each}}

                        

                    </div>
                </div>
     
            </div>
        </div>                    
    
    <div class="col s12 m4 l3">

    </div>
</div>

