<div class="row">
    <div class="container modal-content">

        <a href="" class="modal-close btn right waves-effect waves-green btn-flat"> &times;</a>
   
                            <p style="color: rgb(236, 236, 236); font-size:24px">Create Post</p>
                            <div class="chip res">
                                <img src="{{profileimage}}" alt="">
                                <a class="name-color" href="/feed/user/{{user._id}}"> {{displayName}} </a>
                             </div>
                            <form action="/feed" enctype="multipart/form-data" method="POST" >
                             <div class="row">
                                        <div class="input-field-text">
                                            <input type="file" class="form-control" name="image" id="image">
                                        </div>
                                 </div>
                                
                                <div class="row">
                                    <div class="input-field-post">
                                        <select class="browser-default" name="status">
                                            <option id="op-post" value="public"  selected > Public</option>
                                            <option id="op-post" value="private" >Private</option>
                                        </select>
                                        
                                    </div>
                              <a href="sass.html" class="btn-floating btn-small waves-effect waves-light htp left"><i class="material-icons">thumb_up</i> </a>4.9k
                           <a href="sass.html" class="btn-floating btn-small waves-effect waves-light htp center"><i class="material-icons">comment</i></a>4.9k
                           <a href="sass.html" class="btn-floating btn-small waves-effect waves-light htp float"><i class="material-icons">share</i></a>4.9k
  </div>
                                <div class="row">
                                    <div class="input-field-text">
                                        <textarea id="body" class="dark-theme" name="body" placeholder=" What's on your mind, {{name}}? " required></textarea>
                                    </div>

                                </div>
                                 
                                

                                <div class="row">
                                    <input type="submit" value="Post" class="btn col s12 htp">
                                </div>
                            </form>
        {{!-- <h3>What's your mind</h3>

        <form action="/feed" method="POST" class="col s5">
    

       

        <div class="row">
            <div class="input-field">
                <textarea id="body" name="body"></textarea>
            </div>
        </div>

         <div class="row">
            <div class="input-field">
                <select id="status" name="status">
                    <option value="public" data-icon="/img/public.png" selected>Public</option>
                    <option value="private" data-icon="/img/private.png">Private</option>
                </select>
                <label for="status">Status</label>
            </div>
        </div>

        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/profile" class="btn orange">Cancel</a>
        </div>
    </form> --}}
    </div>
    
</div>
