<div class="med-right-chat-active">
              <h6 style="color: aliceblue;">Active Users</h6>

              {{#each activeUsers}}
                    <li>{{displayName}}</li>

              {{/each}}
                
</div>